{
  "witApiKeys": {
    "arabic": "",
    "bengali": "",
    "catalan": "",
    "chinese": "",
    "dutch": "",
    "english": "",
    "finnish": "",
    "french": "",
    "german": "",
    "hindi": "",
    "indonesian": "",
    "italian": "",
    "japanese": "",
    "kannada": "",
    "korean": "",
    "malay": "",
    "malayalam": "",
    "marathi": "",
    "polish": "",
    "portuguese": "",
    "russian": "",
    "sinhala": "",
    "spanish": "",
    "swedish": "",
    "tamil": "",
    "telugu": "",
    "thai": "",
    "turkish": "",
    "urdu": "",
    "vietnamese": ""
  }
}
